<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<title></title>
</head>

<body>
	<div layout:fragment="content">
		<div>
			<ul>
				<li>
					<a th:href="@{/category/new}" class="text-black text-decoration-none">Cadastrar Nova Categoria</a>
				</li>
			</ul>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Nome</td>
					<td>Categoria</td>
					<td>Status</td>
					<td>Ação</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categories}">
					<th th:text="${category.name}" scope="row"></th>
					<th th:text="${category.parent == null ? '-' : category.parent.name}" scope="row"></th>
					<th scope="row">
						<i th:class="bi + ' ' + bi-eye + ${category.status.getCode == 0 ? '-slash-fill':''}"></i>
					</th>
					<th>
						<a href="#" class="text-black text-decoration-none">
							<i class="bi bi-arrow-repeat"></i>
							<a th:href="@{/category/}+${category.id}">Update</a>
						</a><br />
						<a href="#" class="text-black text-decoration-none">
							
									<form method="post" th:object="${category}" th:action="@{/category/delete}">
										<input type="hidden" name="id" th:value="${category.id}">
										<i class="bi bi-trash"></i><button type="submit">Delete</button>
									</form>
						</a>
					</th>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>