<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<title></title>
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="~{/fragments/actions-buttons :: main(${'Usuário'}, ${'/usuario/new'})}"></div>

		<div class="table-responsive">
			<table class="table table-striped table-borderless table align-middle">
				<thead class="table-dark">
					<tr>
						<td scope="col">NOME</td>
						<td scope="col">EMAIL</td>
						<td scope="col">PHONE</td>
						<td scope="col">DATA DE NASCIMENTO</td>
						<td scope="col">STATUS</td>
						<td scope="col">AÇÃO</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${users}">
						<th th:text="${u.name}" scope="row"></th>
						<th th:text="${u.email}" scope="row"></th>
						<th th:text="${u.phone}" scope="row"></th>
						<th th:text="${u.birthDate}" scope="row"></th>
						<th scope="row">
							<form method="post" th:object="${u}" th:action="@{/usuario/visible}">
								<input type="hidden" name="id" th:value="${u.id}">
								<input type="hidden" name="status" th:value="${u.status}">
								<i
									th:class="bi + ' ' + bi-eye + ${u.status.getCode == 0 ? '-slash-fill':''}"></i>
								<button type="submit">update</button>
							</form>
						</th>
						<th>
							<a href="#" class="text-black text-decoration-none">
								<i class="bi bi-arrow-repeat"></i>
								<a th:href="@{/usuario/}+${u.id}">Update</a>
							</a><br />
							<a href="#" class="text-black text-decoration-none">

								<form method="post" th:object="${u}" th:action="@{/usuario/delete}">
									<input type="hidden" name="id" th:value="${u.id}">
									<i class="bi bi-trash"></i><button type="submit">Delete</button>
								</form>
							</a>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="~{/fragments/actions-buttons :: main(${'Usuário'}, ${'/usuario/new'})}"></div>
	</div>
</body>

</html>