<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/css.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

	<title th:text="'.:: Mr. Financial ::.'"></title>
</head>

<body>
	<header th:replace="~{fragments/header :: container}"></header>

	<main>
		<div class="container">
			<div layout:fragment="content">
				<h1>Static content for prototyping purposes only</h1>
			</div>
		</div>
	</main>

	<footer th:replace="~{fragments/footer :: container}"></footer>
	
	<script type="text/javascript" th:src="@{/jquery-3.7.1/code.jquery.com_jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/js.js}"></script>

</body>

</html>